body {
  color: white ;
  background: url("../img/intro-bg.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.imageFour{
  position: absolute;
  margin:auto;
  right:300px;
  
  
  }